<div class="container" >

  <div class="row">

    <div class="col-sm">
      <h2>Onboarding App</h2>
    </div>

    <div class="col-sm">
    </div>
    <div class="col-sm">
      </div>

    <div class="col-sm" style="display: inherit">
      <img src="assets/admin.png" width="30px" height="30px" style ="margin-right: 10px ">
      <h3>{{currentUser}}</h3>
    </div>

  </div>

  <hr>

  <nav>
    <button class="btn btn-secondary col-sm-4" style ="margin: 5px " [routerLink]="['/onboard']" routerLinkActive="router-link-active">Onboarding
      Form</button>
    <button class="btn btn-secondary col-sm-4" style ="margin: 5px " [routerLink]="['/list']" routerLinkActive="router-link-active">List
      Students</button>
  </nav>

  <hr>
</div>