<div class="container">

    <br>

    <h1>Login School Admin</h1>

    <br>

    <form>

        <label for="username">Username</label>
        <input class="form-control" name="username" type="text" [(ngModel)]="username" placeholder="Enter username">

        <br>

        <label for="password">Password</label>
        <input class="form-control" name="password" type="password" [(ngModel)]="password" placeholder="Enter password">

        <br>

        <button class="btn btn-primary" (click)="login()">Login</button><button class="btn btn-secondary"
            (click)="reset()">Reset</button>

    </form>

</div>